<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>福保孕堂医疗服务（云南）有限公司</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<!--------------head---------------->
<div class="header_fix">
    <div class="header-bar">
        <div class="w1200 clear" style="height:28px;">
            <ul class="fl xinxifu">
                <li>欢迎来到 福保孕堂医疗服务（云南）有限公司 网站</li>
            </ul>

        </div>
    </div>
</div>

<div class="header">
    <div class="header-body">
        <div class="w1200">
            <div class="logo after_apend">
                <a th:href="@{index}" class="logo-link">
                    <img src="/images/logo.jpg" width="218" alt="">
                </a>
            </div>

            <div class="search">
                <div class="form">
                    <input class="searchbox" maxlength="64" placeholder="药品" value="" text="text">
                    <button class="searchbtn">搜索<i></i></button>
                </div>
            </div>

            <div class="hotwords">
            </div>
        </div>
    </div>

    <div class="header-nav">
        <div class="w1200">
            <div class="categorys">
                <div class="dt">
                    <a>
                        <i></i>
                        药品库
                    </a>
                </div>

                <div class="dd" style="display: block;">
                    <div class="dd-inner">
                        <ul>
                            <li th:each="type:${type_list}" th:data-action="${typeStat.index}"
                                th:if="${typeStat.index} lt '5'">
                                <h3>
                                    <a th:href="@{/index/(${type.index})}" th:text="${type.name}">黄体支持</a>
                                </h3>

                                <i></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="navitems">
                <ul>
                    <li><a th:href="@{index}">首页</a></li>

                    <li th:each="type:${type_list}" th:data-action="${typeStat.index}" th:if="${typeStat.index} lt '5'">
                        <a th:href="@{/index/(${type.index})}" th:text="${type.name}">黄体支持</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
<!--------------head end---------------->

<div class="rf_menu" id="skipfloor" style="display: block;">
    <div class="menu">
        <div class="floornav_top">
            <a data-slide="1" onclick="gotofloor(this);" href="javascript:void(0);">
                导航
            </a>
        </div>
        <ul class="navigation">
            <li data-floor="70" floorid="1" class="">
                <a class="etitle1" href="http://beautycn.cn/index.html#70">
                    1F
                </a>
                <a href="http://beautycn.cn/index.html#70" class="etitle">
                    黄体支持
                </a>
            </li>
            <li data-floor="81" floorid="2" class="">
                <a class="etitle1" href="http://beautycn.cn/index.html#81">
                    2F
                </a>
                <a href="http://beautycn.cn/index.html#81" class="etitle">
                    孕期止血
                </a>
            </li>
            <li data-floor="72" floorid="3" class="">
                <a class="etitle1" href="http://beautycn.cn/index.html#72">
                    3F
                </a>
                <a href="http://beautycn.cn/index.html#72" class="etitle">
                    孕期腹痛
                </a>
            </li>
            <li data-floor="71" floorid="4" class="">
                <a class="etitle1" href="http://beautycn.cn/index.html#71">
                    4F
                </a>
                <a href="http://beautycn.cn/index.html#71" class="etitle">
                    NK高
                </a>
            </li>
            <li data-floor="74" floorid="5" class="">
                <a class="etitle1" href="http://beautycn.cn/index.html#74">
                    5F
                </a>
                <a href="http://beautycn.cn/index.html#74" class="etitle">
                    HCY高
                </a>
            </li>
        </ul>
        <div class="downbo">
            <a href="javascript:void(0);">
                回到顶部
            </a>
        </div>
    </div>
</div>

<div class="index">
    <div class="focus" style="background-color: #eeeeee;">
        <div>
            <div class="lunhuan">
                <div id="lunhuanback">
                    <div class="item" style="opacity: 0; z-index: 1; background-color: rgb(235, 235, 235);">
                        <a style="display: inline-block;" class="activityimg">
                            <img src="/images/flip_1.jpg" alt="">
                        </a>
                    </div>

                    <div class="item" style="z-index: 3; opacity: 1; background-color: rgb(235, 235, 235);">
                        <a style="display: inline-block;" class="activityimg">
                            <img src="/images/flip_2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="lunhuan_main">
                    <div class="lunhuancenter">
                        <ul id="lunbonum">
                            <li class=""></li>
                            <li class="lunboone"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="w1200 department">
            <div class="department_box">
                <div class="notice_Promotion" id="Tabnotice">
                    <div class="tab_switch">
                        <a class="switch_Promotion fl notice">公告</a>
                    </div>

                    <div class="tab_content">
                        <div>
                            <ul> <!-- 10个数据 -->
                                <li><a href="http://beautycn.cn/etyy/2019/1203/194.html">景优同 儿童回春颗粒 1g*12袋/盒</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w1200">
        <div id="special" class="special">
            <div class="tab">
                <ul>
                    <li tab-target="0" color="#fa462d" class="bg-left">黄体支持</li>
                </ul>

                <div class="tab-line">
                    <div class="row">
                        <span class="span1 bg-orange"></span>
                    </div>
                    <div class="tab-line-arrow" style="left: 93px; border-bottom-color: rgb(250, 70, 45);"></div>
                </div>
            </div>

            <div class="product">
                <ul class="cong_ul">
                    <li> <!-- 6个数据 -->
                        <a href="http://beautycn.cn/etyy/2019/1203/194.html">
                            <img src="./杭州海丽健医疗科技有限公司-主页_files/1-1Q01915062Y45.jpg" alt="">
                        </a>

                        <a href="http://beautycn.cn/etyy/2019/1203/194.html" class="cong_a text-overflow">景优同 儿童回春颗粒
                            1g*12袋</a>
                    </li>
                </ul>
            </div>
        </div>

        <div fid="70" floor="1" class="floor">
            <div class="row">
                <div class="span1">
                    <h2 class="bg-1f">XXXX</h2>
                </div>

                <div class="span3">
                    <div class="product">
                        <ul>
                            <li>      <!-- 12个数据 -->
                                <a href="http://beautycn.cn/etyy/2019/1203/194.html">
                                    <img src="./杭州海丽健医疗科技有限公司-主页_files/1-1Q01915062Y45.jpg" alt="">
                                </a>

                                <div class="floor_tit_min">
                                    <a href="http://beautycn.cn/etyy/2019/1203/194.html" class="text-overflow">景优同
                                        儿童回春颗粒 1g*12袋</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div fid="81" floor="2" class="floor">
            <div class="row">
                <div class="span1">
                    <h2 class="bg-1f">XXXX</h2>
                </div>

                <div class="span3">
                    <div class="product">
                        <ul> <!-- 12个数据 -->
                            <li>
                                <a href="http://beautycn.cn/xnxg/2019/1203/198.html">
                                    <img src="./杭州海丽健医疗科技有限公司-主页_files/1-1Q01915115G39.jpg" alt="">
                                </a>

                                <div class="floor_tit_min">
                                    <a href="http://beautycn.cn/xnxg/2019/1203/198.html" class="text-overflow">雷氏 丹参片
                                        60片*1瓶/盒</a>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div fid="72" floor="3" class="floor">
            <div class="row">
                <div class="span1">
                    <h2 class="bg-1f">XXXX</h2>

                </div>

                <div class="span3">
                    <div class="product">
                        <ul> <!-- 12个数据 -->
                            <li>
                                <a href="http://beautycn.cn/xhxt/2019/1203/202.html">
                                    <img src="./杭州海丽健医疗科技有限公司-主页_files/1-1Q0191529544D.jpg" alt="">
                                </a>

                                <div class="floor_tit_min">
                                    <a href="http://beautycn.cn/xhxt/2019/1203/202.html" class="text-overflow">同仁堂 香连化滞丸
                                        6g*10丸/盒</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div fid="71" floor="4" class="floor">
            <div class="row">
                <div class="span1">
                    <h2 class="bg-1f">XXXX</h2>
                </div>

                <div class="span3">
                    <div class="product">
                        <ul> <!-- 12个数据 -->
                            <li>
                                <a href="http://beautycn.cn/wgyy/2019/1203/206.html">
                                    <img src="./杭州海丽健医疗科技有限公司-主页_files/1-1Q019153452448.jpg" alt="">
                                </a>

                                <div class="floor_tit_min">
                                    <a href="http://beautycn.cn/wgyy/2019/1203/206.html" class="text-overflow">乐仁堂
                                        清喉利咽颗粒 5g*10袋</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div fid="74" floor="5" class="floor">
            <div class="row">
                <div class="span1">
                    <h2 class="bg-1f">风湿骨科</h2>
                </div>

                <div class="span3">
                    <div class="product">
                        <ul> <!-- 12个数据 -->
                            <li>
                                <a href="http://beautycn.cn/fsgk/2019/1203/210.html">
                                    <img src="./杭州海丽健医疗科技有限公司-主页_files/1-1Q01915394S15.jpg" alt="">
                                </a>

                                <div class="floor_tit_min">
                                    <a href="http://beautycn.cn/fsgk/2019/1203/210.html" class="text-overflow">陈李济
                                        舒筋健腰丸45g*10瓶/盒</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="brands">
                <ul> <!-- 10个数据 -->
                    <li pos="9">
                        <img src="/images/third_logo1.jpg" class="brandimg" alt="9图片">
                    </li>


                </ul>
            </div>
        </div>

        <div id="partners" class="partners">
            <div class="items government">
                <div>
                    <p class="fl govern_tit">友情链接：</p>
                    <ul class="fl govern_cen">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 页脚 -->
<div class="footer">
    <div class="w1200">
        <div class="copyright">
            <p>公司名称：福保孕堂医疗服务（云南）有限公司</p>
            <p>公司地址：云南省昆明市五华区茭菱路88号创意英国维多利亚花园4幢温莎大道29号</p>
            <p>公司固话：0571-88811540</p>
            <p><a href="http://www.beian.miit.gov.cn/">X ICP备xxxxxxxx号-1</a></p>
            <p>福保孕堂医疗服务（云南）有限公司 版权所有</p>
        </div>
    </div>
</div>

<script src="/js/jquery.js" type="text/javascript"></script>

<script src="/js/index.js" type="text/javascript"></script>

<audio controls="controls" style="display: none;"></audio>
<div class="xl-chrome-ext-bar" id="xl_chrome_ext_{4DB361DE-01F7-4376-B494-639E489D19ED}" style="display: none;">
    <div class="xl-chrome-ext-bar__logo"></div>

    <a id="xl_chrome_ext_download" href="javascript:;" class="xl-chrome-ext-bar__option">下载视频</a>
    <a id="xl_chrome_ext_close" href="javascript:;" class="xl-chrome-ext-bar__close"></a>
</div>
</body>
<style type="text/css">#yddContainer {
    display: block;
    font-family: Microsoft YaHei;
    position: relative;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    font-size: 12px;
    border: 1px solid
}

#yddTop {
    display: block;
    height: 22px
}

#yddTopBorderlr {
    display: block;
    position: static;
    height: 17px;
    padding: 2px 28px;
    line-height: 17px;
    font-size: 12px;
    color: #5079bb;
    font-weight: bold;
    border-style: none solid;
    border-width: 1px
}

#yddTopBorderlr .ydd-sp {
    position: absolute;
    top: 2px;
    height: 0;
    overflow: hidden
}

.ydd-icon {
    left: 5px;
    width: 17px;
    padding: 0px 0px 0px 0px;
    padding-top: 17px;
    background-position: -16px -44px
}

.ydd-close {
    right: 5px;
    width: 16px;
    padding-top: 16px;
    background-position: left -44px
}

#yddKeyTitle {
    float: left;
    text-decoration: none
}

#yddMiddle {
    display: block;
    margin-bottom: 10px
}

.ydd-tabs {
    display: block;
    margin: 5px 0;
    padding: 0 5px;
    height: 18px;
    border-bottom: 1px solid
}

.ydd-tab {
    display: block;
    float: left;
    height: 18px;
    margin: 0 5px -1px 0;
    padding: 0 4px;
    line-height: 18px;
    border: 1px solid;
    border-bottom: none
}

.ydd-trans-container {
    display: block;
    line-height: 160%
}

.ydd-trans-container a {
    text-decoration: none;
}

#yddBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    background-position: left -22px
}

.ydd-padding010 {
    padding: 0 10px
}

#yddWrapper {
    color: #252525;
    z-index: 10001;
    background: url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ab20.png);
}

#yddContainer {
    background: #fff;
    border-color: #4b7598
}

#yddTopBorderlr {
    border-color: #f0f8fc
}

#yddWrapper .ydd-sp {
    background-image: url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ydd-sprite.png)
}

#yddWrapper a, #yddWrapper a:hover, #yddWrapper a:visited {
    color: #50799b
}

#yddWrapper .ydd-tabs {
    color: #959595
}

.ydd-tabs, .ydd-tab {
    background: #fff;
    border-color: #d5e7f3
}

#yddBottom {
    color: #363636
}

#yddWrapper {
    min-width: 250px;
    max-width: 400px;
}</style>
</html>